* {
    font-family: cursive, sans-serif;
}

html, body, #root, #container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    margin: 0;
    padding: 0;
}

.box {
    width: 700px;
    height: 400px;
    
    display: flex;

    border: 1px dashed #09f;
}

.box .left {
    width: 60%;
    height: 100%;

    border-right: 1px dashed #09f;

    background-color: #fff;
}

.box .right {
    width: 40%;
    height: 100%;

    background-color: #09f
}