.calendar {
    padding: 5px;
}

.calendar h2{
    text-align: center;
    text-decoration: underline dashed;

    color: #09f;
}

.input-date {
    display: flex;
    justify-content: center;
}

.input-date select {
    padding: 5px;
    margin-right: 10px;

    border: 1px dashed #09f;

    color: #09f;
}

.maps {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    color: #09f
}

.maps div {
    height: 50px;

    border-top: 1px dashed #09f;
    
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.red {
    color: red;
}

.green {
    background-color: #09f;
    color: #fff;
}

.gray {
    color: gray;
}

.blue {
    color: #09f;
}